# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vercel/
frontend/.cache/

# Backend
backend/target/
backend/.apt_generated/
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Operating system
.DS_Store
Thumbs.db